@font-face {
  font-family: 'Minecraft';
  src: url('minecraft.ttf') format('truetype');
}
:root{


    --cor:rgba(9, 9, 100, 0.815);
    --brilho:

      animation: iluminacao 4s ease-in-out infinite;

    ;

}

body{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: medium;
      justify-items: center;
      justify-content: center;
      flex-direction: column;
      align-items:center;
      display: flex;
    color: white;
    
      background-color: var(--cor);
      
}

.container-forms{
  text-decoration: var(--brilho);
    color: white;
    background-color:    rgba(40, 103, 221, 0.781);
    line-height: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:600px;
    height:555px;
    position: relative;
    justify-items: center;
    align-self: center;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    transition: all 1.5s ease;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  -10px 0 0 0 var(--cor), 
                 10px 0 0 0 var(--cor), 
                 0  15px 0 0 var(--cor),
                 0 -15px 0 0 var(--cor);

    /*margin-bottom: 15px;*/         




}
@keyframes iluminacao {
0%, 100%{

  filter:drop-shadow(0 0 2px white);
}  
50%{


  filter:drop-shadow(0 0 20px  white);
}
}
.pixel{

  font-family: 'Press Start 2P', cursive ; 
   
   
}
.titulo-quiz{

   padding-top: 10px;
   text-align: center;
   font-size: 45px;
   width: 100%;
   background-color: var(--cor);
   color:white;
   border-radius: 20px;
   height:60px;
   margin-bottom: 40px;
   box-shadow: 10px 0 0 0 var(--cor), 
               -10px 0 0 0 var(--cor), 
               0 15px 0 0 var(--cor), 
               0 -15px 0 0 var(--cor);
}

h2{

 text-align: center;


}
.quiz{
  

  width: 597px; 

  height:2%;

  transition: all 0.5s ease-in-out;
}
  
.quizurembed{

  
 height: 400px !important;
 max-height: 400px !important;
 border-radius: 5px !important;
 margin-bottom:-400px !important;

 overflow: hidden;
 box-shadow: 10px 0 0 0 var(--cor) , 
            -10px 0 0 0  var(--cor), 
             0 15px 0 0  var(--cor), 
             0 -15px 0 0  var(--cor) !important


 ;


}
.rodape{

      
        background: url("/IMAGES/ce4c9d67fb6174aa268bf7e71c12b8ff.gif")  repeat-x;
        transition: all 0.5s ease-in-out;
        height: 300px;
        width: 400px;

}
.titulos{
  padding-left:5px;
  display: flex;
  font-size:26px ;
  line-height: 40px;
  height: 100px;
  background-color: var(--cor);
  width: 105%;
  position: relative;
  left:-10px;
  color:white;
  text-align: left;
  align-items: center;
  
}
.seta{

   position: relative;
   display: flex;
  height: 50px;
  width: 70px;
  margin-bottom: -10px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;


}
a{

    margin-top: 5px;

}
.formatacao{
 
   display: flex;
   flex-direction: column;
   text-align: left;
   font-size: large;
   line-height: 26px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.mb{

      margin-bottom: 5px;

}
a{
  padding: 10px;
  position: relative;
 display: flex;
 justify-content: center;
 margin-top: 4px;
 margin-left: 30px;
 margin-right: auto;
 bottom: 10px;
 

}
hr{

  height: 5px;
  width: 100%;
  background-color: blue;
}
.ultimo-titulo{

   font-size: 20px !important;

}
.cadeado{


     width: 80px;
     height: 80px;
}
@media (max-width: 768px){

    
   .container-forms{
      font-size:10px;
      width:375px;
    height:610px;
     
   }
   .quiz{

    width: 375px;
    height: 1%;

   }
   a{
    padding: 10px;
    position: relative;
   display: flex;
   justify-content: center;
   margin-top: 4px;
   margin-left: 30px;
   margin-right: auto;
   bottom: 10px;
   
   



}

}
@media (max-width:480px){


  .container-forms{
    font-size: 10px;
    width:300px;
   height:640px;
   
 }
 .quiz{

  width: 300px;
  height: 1%;

  a{
    position: relative;
   display: flex;
   justify-content: center;
   margin-top: 4px;
   margin-left: 30px;
   margin-right: auto;
   
   




 }
 }
}
@media (prefers-color-scheme:dsrk){
   body{

    background-color: rgba(0, 17, 61, 0.87);

   }

    .container-forms{

      animation: iluminacao 4s ease infinite;
      

    }
    h1{

      animation: iluminacao 4s ease infinite;

    }

}